FORMAT: 1A
HOST: http://www.google.com

# Knowledgebase
Notes API is a *short texts saving* service similar to its physical paper presence on your table.

# Group Error Codes

## Retrieve a List of supported error message formats [/errorcodes]
Lists all current supported error codes. The error message that belong to the error code is fix. The error details and the arguments may vary from case to case and are for humans not for machines ;)

the `className`, `lineNumber` and `methodName` name declare can be usefull for debugging an unexpected error code on the knowledgebase. 

### Retrieve a List of supported error message formats [GET]

+ Response 200 (application/json)
  + Body


            {
               "errorPlain":
               [
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "Missing Content",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 1
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "Unexpected Content",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 2
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "Ressource does not exist",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 3
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "URL not correct! Use schema: http(s)://www.*.*",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 4
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "Invalid committed data",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 5
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "Invalid data",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 6
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "Invalid call",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 7
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "The given configuration is not possible",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 8
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "Invalid parameters",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 9
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "Missing Parameters",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 10
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "Server Exception",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 11
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "Unhandled case",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 12
                   },
                   {
                       "argument": "uri Or Property",
                       "errorMessage": "Unexpected error",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 53,
                       "errorCode": 13
                   }
               ],
               "errorWithMessage":
               [
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Missing Content",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 1
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Unexpected Content",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 2
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Ressource does not exist",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 3
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "URL not correct! Use schema: http(s)://www.*.*",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 4
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Invalid committed data",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 5
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Invalid data",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 6
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Invalid call",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 7
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "The given configuration is not possible",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 8
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Invalid parameters",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 9
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Missing Parameters",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 10
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Server Exception",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 11
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Unhandled case",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 12
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Unexpected error",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 54,
                       "errorCode": 13
                   }
               ],
               "errorWithMessageAndArgument":
               [
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Missing Content",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 1
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Unexpected Content",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 2
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Ressource does not exist",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 3
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "URL not correct! Use schema: http(s)://www.*.*",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 4
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Invalid committed data",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 5
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Invalid data",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 6
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Invalid call",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 7
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "The given configuration is not possible",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 8
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Invalid parameters",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 9
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Missing Parameters",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 10
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Server Exception",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 11
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Unhandled case",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 12
                   },
                   {
                       "argument": "uri Or Property",
                       "errorDetails": "Human readable message",
                       "errorMessage": "Unexpected error",
                       "methodName": "examples",
                       "className": "mobi.sesam.knowledgebase.dataaccess.ErrorContainer",
                       "lineNumber": 55,
                       "errorCode": 13
                   }
               ]
            }


# Group Notesbooks and Notes
* Notes must have a Notebook to exist. 
* Create a notebook first then create notes in them. 
* Deleting notebooks deletes all containing notes.
* Authentication is required everywehere.

## Create, retrieve and modify Notebooks [/notebooks]

### Create a new Notebook [PUT]
Note: Save the uri of the notebooks, you need if later for creating new notes.
+ Request (application/json)
    + Body
    
            { 
                "notebooks": [ 
                    { 
                        "sesamHasTitle": { 
                            "value": "My first notebok! Wow!"
                        } 
                    }
                ] 
            }

+ Response 201 (application/json)
    + Body

            {
                "notebooks": [
                    {
                        "sesamCreated": {
                            "value": "2014-07-22T12:21:27",
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#datetime"
                        },
                        "sesamHasTitle": {
                            "value": "My first notebok! Wow!"
                        },
                        "sesamLastModified": {
                            "value": "2014-07-22T12:21:27",
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#datetime"
                        },
                        "sesamSize": {
                            "value": 0,
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                        },
                        "uri": "http://sesam.mobi/data/notes#a880bcca-65df-47a6-a730-251cbb218369"
                    }
                ]
            }

+ Response 401

### Modify a notebook [POST]
You only could change the name of a notebook.

+ Request (application/json)
    + Body
    
            {
                "notebooks": [
                    {
                        "sesamHasTitle": {
                            "value": "My first notebook! Wow!"
                        },
                        "uri": "http://sesam.mobi/data/notes#a880bcca-65df-47a6-a730-251cbb218369"
                    }
                ]
            }

+ Response 200 (application/json)
    + Body
    
            {
                "notebooks": [
                    {
                        "sesamHasTitle": {
                            "value": "My first notebook! Wow!"
                        },
                        "uri": "http://sesam.mobi/data/notes#a880bcca-65df-47a6-a730-251cbb218369"
                    }
                ]
            }

+ Response 401

### Read all notebooks [GET]
You could only access all notebooks at once. 
If there are notes in the notebook you get all notes (notesContainsNote) 
and the laste used note (notesLastNote).

+ Request (*/*)

+ Response 200 (application/json)
           
            {
                "notebooks": [
                    {
                        "sesamCreated": {
                            "value": "2014-07-22T12:21:27",
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                        },
                        "sesamHasTitle": {
                            "value": "hallo, das ist mein Notasdizbuch",
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                        },
                        "sesamLastModified": {
                            "value": "2014-07-22T12:38:11",
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                        },
                        "sesamSize": {
                            "value": 0,
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                        },
                        "uri": "http://sesam.mobi/data/notes#a880bcca-65df-47a6-a730-251cbb218369"
                    },
                    {
                        "notesContainsNote": [
                            {
                                "notesHasContent": {
                                    "value": "<p>der erste Eintrag</p>",
                                    "dataTypeURI": "http://www.w3.org/1999/02/22-rdf-syntax-ns#HTML"
                                },
                                "sesamCreated": {
                                    "value": "2014-07-22T11:58:23",
                                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                                },
                                "sesamHasTitle": {
                                    "value": "der erste Eintrag",
                                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                                },
                                "sesamLastModified": {
                                    "value": "2014-07-22T11:58:23",
                                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                                },
                                "uri": "http://sesam.mobi/data/notes#8b6b07b1-7b08-40a7-babb-99dbd7f25022"
                            }
                        ],
                        "notesLastNote": {
                            "notesHasContent": {
                                "value": "<p>der erste Eintrag</p>",
                                "dataTypeURI": "http://www.w3.org/1999/02/22-rdf-syntax-ns#HTML"
                            },
                            "sesamCreated": {
                                "value": "2014-07-22T11:58:23",
                                "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                            },
                            "sesamHasTitle": {
                                "value": "der erste Eintrag",
                                "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                            },
                            "sesamLastModified": {
                                "value": "2014-07-22T11:58:23",
                                "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                            },
                            "uri": "http://sesam.mobi/data/notes#8b6b07b1-7b08-40a7-babb-99dbd7f25022"
                        },
                        "sesamCreated": {
                            "value": "2014-07-22T11:14:47",
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                        },
                        "sesamHasTitle": {
                            "value": "hallo, das ist mein Notizbuch",
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                        },
                        "sesamLastModified": {
                            "value": "2014-07-22T11:58:23",
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                        },
                        "sesamSize": {
                            "value": 1,
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                        },
                        "uri": "http://sesam.mobi/data/notes#2e739149-cf34-4666-87f1-a0004be2bb55"
                    }
                ]
            }

+ Response 401

## Delete Notebooks [/notebooks/{uri}]
### Delete notebook [DELETE]
+ Parameter
    + uri (required, URI, `http%3A%2F%2Fsesam.mobi%2Fdata%2Fnotes%23a880bcca-65df-47a6-a730-251cbb218369`) ... uri of the notebook 

+ Response 204
+ Response 401


## Create and modify notes [/notes]
Notes are statically bound to notebooks. Notes could only be created you if tell us in which notebook 
(notesInNotebook) you want your note to be created. 

### Create Notes [PUT]
#### Required Properties 
+ "sesamHasTitle"  
+ "notesHasContent"
+ "notesInNotebook"

+ Request (application/json)
    + Body
    
            { 
                "notes": [
                    { 
                        "sesamHasTitle": { 
                            "value": "My first Note" 
                        }, 
                        "notesHasContent": { 
                            "value": "<p>Use HTML-Tags if you want to!</p>" 
                        }, 
                        "notesInNotebook": { 
                            "uri":"http://sesam.mobi/data/notes#a880bcca-65df-47a6-a730-251cbb218369" 
                        } 
                    } 
                ] 
            }

+ Response 201 (application/json)
    + Body
    
            {
                "notes": [
                    {
                        "notesHasContent": {
                            "value": "<p>Use HTML-Tags if you want to!</p>"
                        },
                        "sesamCreated": {
                            "value": "2014-07-22T01:13:46",
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#datetime"
                        },
                        "sesamHasTitle": {
                            "value": "My first Note"
                        },
                        "sesamLastModified": {
                            "value": "2014-07-22T01:13:46",
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#datetime"
                        },
                        "uri": "http://sesam.mobi/data/notes#8d0fd1d2-d668-42bc-99e5-234fec11700c"
                    }
                ]
            }

+ Response 401

### Modify Notes. [POST]
####The following changes are possible: 
+ sesamHasTitle
+ notesHasContent
+ info: you must and could not explicitly change the notebook of a note 

+ Request (application/json)
    + Body
    
            { 
                "notes":[
                    { 
                        "sesamHasTitle": { 
                            "value": "My first Note"
                        }, 
                        "notesHasContent":{ 
                            "value": "<h1>Wow a heading!</h1><p>Use HTML-Tags if you want to!</p>" 
                        },
                        "uri": "http://sesam.mobi/data/notes#8d0fd1d2-d668-42bc-99e5-234fec11700c"
                    } 
                ] 
            }

+ Response 201 (application/json)
    + Body
    
            {
                "notes": [
                    {
                        "notesHasContent": {
                            "value": "<h1>Wow a heading!</h1><p>Use HTML-Tags if you want to!</p>"
                        },
                        "sesamHasTitle": {
                            "value": "My first Note"
                        },
                        "sesamLastModified": {
                            "value": "2014-07-22T01:32:10",
                            "dataTypeURI": "http://www.w3.org/2001/XMLSchema#datetime"
                        },
                        "uri": "http://sesam.mobi/data/notes#8d0fd1d2-d668-42bc-99e5-234fec11700c"
                    }
                ]
            }
+ Response 401

## Delete notes [/notes/{uri}]
### Delete a single note [DELETE]
+ Parameter
    + uri (required, URI, `http%3A%2F%2Fsesam.mobi%2Fdata%2Fnotes%238d0fd1d2-d668-42bc-99e5-234fec11700c`) ... uri of the note 

+ Response 204
+ Response 401

# Group Bookmarks
All around the bookmark API. 

## Create and edit Bookmarkgroups  [/bookmarkgroups]

### Create a new Group [PUT]
+ Request (application/json)
    + Body
    
            {
                "bookmarkgroup":{"sesamHasTitle":{"value":"meine Bookmarks"}}
            }

+ Response 201 (application/json)
    + Body

            {
                "bookmarkgroup": {
                    "sesamCreated": {
                        "value": "2014-07-15T10:03:56",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                "sesamHasTitle": {
                    "value": "meine Bookmarks",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                },
                "sesamLastModified": {
                    "value": "2014-07-15T10:03:56",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamSize": {
                    "value": 0,
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                },
                "uri": "http://sesam.mobi/data/bookmarks#090eb4a0-db60-42a8-a23d-fa3ec52a7598"
                }
            }

### Modify a bookmarkgroup - only literals are allowed to change [POST]
Note: It is not possible to edit the "bookmarkContainsBookmark"-property from this method. Change the ownership by using the "POST /bookmark" method.

+ Request (application/json)
    + Body
    
            {
                "bookmarkgroup": {
                    "sesamHasTitle": {
                        "value": "meine Bookmarks mit neuem Titel",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                    },
                    "uri": "http://sesam.mobi/data/bookmarks#090eb4a0-db60-42a8-a23d-fa3ec52a7598"
                }
            }

+ Response 200 (application/json)
    + Body
    
            {
                "bookmarkgroup": {
                    "sesamCreated": {
                        "value": "2014-07-15T10:03:56",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                "sesamHasTitle": {
                    "value": "meine Bookmarks mit neuem Titel",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                },
                "sesamLastModified": {
                    "value": "2014-07-15T10:20:56",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamSize": {
                    "value": 0,
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                },
                "uri": "http://sesam.mobi/data/bookmarks#090eb4a0-db60-42a8-a23d-fa3ec52a7598"
                }
            }

## Delete a bookmarkgroup [/bookmarkgroups/{uri}]
+ Parameter
    + uri (required, URI, `http%3A%2F%2Fsesam.mobi%2Fdata%2Fbookmarks%230cc67c07-d5d0-4950-acde-0a0f2e7aa10b`) ... uri of the bookmarkgroup 

### Delete a bookmarkgroup - includes deletion of contained bookmarks [DELETE]

+ Response 204
+ Response 401
    
## Manage bookmarks [/bookmarks]

### Create a new Bookmark.   [PUT]
#### Minimum Properties 
+ "sesamHasURL"  
+ "bookmarkInGroup"

+ Request (application/json)
    + Body
    
            {
                "bookmark": {
                    "sesamHasTitle": {
                        "value": "Ein Bookmark"
                    },
                    "sesamHasURL":[{"value":"http://www.google.de"}],
                    "bookmarkInGroup":{"uri":"http://sesam.mobi/data/bookmarks#090eb4a0-db60-42a8-a23d-fa3ec52a7598"}
                }
            }

+ Response 201 (application/json)
    + Body
    
            {
              "bookmark": {
                "bookmarkInGroup": {
                  "uri": "http://sesam.mobi/data/bookmarks#090eb4a0-db60-42a8-a23d-fa3ec52a7598"
                },
                "sesamCreated": {
                    "value": "2014-07-15T10:25:59",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamHasTitle": {
                    "value": "Ein Bookmark",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                },
                "sesamHasURL": [
                    {
                        "value": "http://www.google.de",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#anyURI"
                    }
                ],
                "sesamLastModified": {
                    "value": "2014-07-15T10:25:59",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "uri": "http://sesam.mobi/data/bookmarks#af003dd1-29bf-45a4-85b2-61b0885b88ce"
                }
            }

### Modify a new Bookmark.   [POST]
####The following changes are possible: 
+ Edit literal properties (such as "rdfsLabel", "rdfsComment", "sesamHasTitle", ...)
+ Set another bookmark group (change property "bookmarkInGroup")
+ Tagging of bookmark using free-text-tags and/or concept-tags (change property "sesamHasFreeTextTag", "sesamAffectsConcept")

####Not allowed:
+ Changing properties: "sesamHasUrl"



+ Request (application/json)
    + Body
    
            {
                "bookmark": {
                    "sesamHasTitle": {
                        "value": "Ein Bookmark"
                    },
                    "sesamHasURL":[{"value":"http://www.google.de"}],
                    "sesamHasFreeTextTag":[{"value":"Ein Tag wie jeder andere"}],
                    "sesamAffectsConcept":[{"uri": "http://sesam.mobi/data/concepts#84e837"}],
                    "bookmarkInGroup":{"uri":"http://sesam.mobi/data/bookmarks#090eb4a0-db60-42a8-a23d-fa3ec52a7598"}
                }
            }

+ Response 201 (application/json)
    + Body
    
            {
              "bookmark": {
                "bookmarkInGroup": {
                  "uri": "http://sesam.mobi/data/bookmarks#090eb4a0-db60-42a8-a23d-fa3ec52a7598"
                },
                "sesamCreated": {
                    "value": "2014-07-15T10:25:59",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamHasTitle": {
                    "value": "Ein Bookmark",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                },
                "sesamHasURL": [
                    {
                        "value": "http://www.google.de",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#anyURI"
                    }
                ],
                "sesamLastModified": {
                    "value": "2014-07-15T10:25:59",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamHasFreeTextTag":[{"value":"Ein Tag wie jeder andere"}],
                "sesamAffectsConcept":[{"uri": "http://sesam.mobi/data/concepts#84e837"}],
                "uri": "http://sesam.mobi/data/bookmarks#af003dd1-29bf-45a4-85b2-61b0885b88ce"
                }
            }

### Retrieve all Bookmarks and all Bookmarkgroups [GET]
+ Response 200 (application/json)
    + body        
    
            {
            "bookmarks": [
                {
                    "bookmarkInGroup": {
                        "uri": "http://sesam.mobi/data/bookmarks#12fd6e9c-b090-459c-8584-3773d3101695"
                    },
                    "contentRefersToContent": [ {
                        "@class": "http.sesam.mobi.content.Website",
                        "uri": "http://www.google.de"
                    }],
                    "sesamAffectsConcept": [
                    {
                        "uri": "http://sesam.mobi/data/concepts#4b6acf"
                    }],
                    "sesamCreated": {
                        "value": "2014-07-14T03:32:43",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                    "sesamHasURL": [{
                        "value": "http://www.google.de",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#anyURI"
                    }],
                    "sesamLastModified": {
                        "value": "2014-07-14T04:03:12",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                    "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/bookmarks#Bookmark"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    }],
                    "uri": "http://sesam.mobi/data/bookmarks#d98f3e14-63a1-4483-a4e8-4e287ff4fbfe"
                },
                {
                    "bookmarkInGroup": {
                        "uri": "http://sesam.mobi/data/bookmarks#12fd6e9c-b090-459c-8584-3773d3101695"
                    },
                    "contentRefersToContent": [
                    {
                        "@class": "http.sesam.mobi.content.Website",
                        "uri": "http://www.google.de"
                    }],
                    "sesamCreated": {
                        "value": "2014-07-14T03:29:35",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                    "sesamHasFreeTextTag":[
                    {
                        "value":"Ein schöner Tag", 
                        "language":"de" 
                    }],
                    "sesamHasURL": [
                    {
                        "value": "http://www.google.de",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#anyURI"
                    }],
                    "sesamLastModified": {
                        "value": "2014-07-14T03:29:35",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                    "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/bookmarks#Bookmark"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    }],
                    "uri": "http://sesam.mobi/data/bookmarks#81ce5417-1635-4859-8d32-8dcc29d12586"
                },
                {
                    "bookmarkInGroup": {
                        "uri": "http://sesam.mobi/data/bookmarks#090eb4a0-db60-42a8-a23d-fa3ec52a7598"
                    },
                    "contentRefersToContent": [
                    {
                        "@class": "http.sesam.mobi.content.Website",
                        "uri": "http://www.google.de"
                    }],
                    "sesamCreated": {
                        "value": "2014-07-15T10:25:59",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                    "sesamHasTitle": {
                        "value": "Ein Bookmark mit neuem Titel",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                    },
                    "sesamHasURL": [
                    {
                        "value": "http://www.google.de",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#anyURI"
                    }],
                    "sesamLastModified": {
                        "value": "2014-07-15T10:25:59",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                    "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/bookmarks#Bookmark"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    }],
                    "uri": "http://sesam.mobi/data/bookmarks#af003dd1-29bf-45a4-85b2-61b0885b88ce"
                }
            ],
            "bookmarkgroups": [
                {
                    "bookmarkContainsBookmark": [
                    {
                        "uri": "http://sesam.mobi/data/bookmarks#d98f3e14-63a1-4483-a4e8-4e287ff4fbfe"
                    },
                    {
                        "uri": "http://sesam.mobi/data/bookmarks#81ce5417-1635-4859-8d32-8dcc29d12586"
                    }],
                    "sesamCreated": {
                        "value": "2014-07-14T02:46:59",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                    "sesamHasTitle": {
                        "value": "meine Bookmarks",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                    },
                    "sesamLastModified": {
                        "value": "2014-07-14T04:04:35",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                    "sesamSize": {
                        "value": 2,
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                    },
                    "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/bookmarks#BookmarkGroup"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    }],
                    "uri": "http://sesam.mobi/data/bookmarks#12fd6e9c-b090-459c-8584-3773d3101695"
                },
                {
                    "bookmarkContainsBookmark": [
                    {
                        "uri": "http://sesam.mobi/data/bookmarks#af003dd1-29bf-45a4-85b2-61b0885b88ce"
                    }],
                    "sesamCreated": {
                        "value": "2014-07-15T10:03:56",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                    "sesamHasTitle": {
                        "value": "meine Bookmarks",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                    },
                    "sesamLastModified": {
                        "value": "2014-07-15T10:25:59",
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                    },
                    "sesamSize": {
                        "value": 1,
                        "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                    },
                    "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/bookmarks#BookmarkGroup"
                    }],
                    "uri": "http://sesam.mobi/data/bookmarks#090eb4a0-db60-42a8-a23d-fa3ec52a7598"
                }]
            }

## Delete a single bookmark [/bookmarks/{uri}]
### Delete a single bookmark [DELETE]
+ Parameter
    + uri (required, URI, `http%3A%2F%2Fsesam.mobi%2Fdata%2Fbookmarks%230cc67c07-d5d0-4950-acde-0a0f2e7aa10b`, required) ... uri of the bookmark 

+ Response 204


# Group Tagging of Bookmarks
The following methods can be used to retrieve some recommendations for the current bookmark. In addition to the folliwing method the search for concepts can be used for implementing an auto-completion. 

## TaggingInformation [/bookmarks/tag/{view}/{uri}]

+ Model (application/json)

        {"latestTags": [
            {
                "sesamAffectsConcept": [
                    {
                        "skosPrefLabel": [
                            {
                                "value": "Lebensmittel",
                                "language": "de"
                            }
                        ],
                        "skosAltLabel": [
                            {
                                "value": "Nahrungsmittel",
                                "language": "de"
                            },
                            {
                                "value": "Essen",
                                "language": "de"
                            }
                        ],
                        "uri": "http://sesam.mobi/data/concepts#84e837"
                    }
                ],
                "sesamCreated": {
                    "value": "2014-07-01T12:48:52",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamLastModified": {
                    "value": "2014-07-01T12:48:52",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamSize": {
                    "value": 1,
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                },
                "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2002/07/owl#Thing"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/ontology#TaggingInfo"
                    }
                ],
                "uri": "http://sesam.mobi/data/content#tie1c8a685-d315-4511-88c0-9b3706220aee"
            },
                            {
                "sesamHasFreeTextTag": [
                    {
                        "value": "sinnloser Freitexttag",
                        "language": "de"
                    }
                ],
                "sesamCreated": {
                    "value": "2014-06-16T12:08:55",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamLastModified": {
                    "value": "2014-06-16T12:08:55",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamSize": {
                    "value": 1,
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                },
                "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2002/07/owl#Thing"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/ontology#TaggingInfo"
                    }
                ],
                "uri": "http://sesam.mobi/data/content#ti31f07b1b-f447-40cc-9c11-ea2fde6f3d52"
            },
            {
                "sesamAffectsConcept": [
                    {
                        "skosPrefLabel": [
                            {
                                "value": "Fette",
                                "language": "de"
                            }
                        ],
                        "uri": "http://sesam.mobi/data/concepts#9fa00c"
                    }
                ],
                "sesamCreated": {
                    "value": "2014-06-11T02:24:15",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamLastModified": {
                    "value": "2014-06-11T02:24:15",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamSize": {
                    "value": 1,
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                },
                "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2002/07/owl#Thing"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/ontology#TaggingInfo"
                    }
                ],
                "uri": "http://sesam.mobi/data/content#tif4bb0fef-d7e6-4c99-b615-cf7d63601088"
            },
            {
                "sesamAffectsConcept": [
                    {
                        "skosPrefLabel": [
                            {
                                "value": "Nahrungsmittel",
                                "language": "de"
                            }
                        ],
                        "skosAltLabel": [
                            {
                                "value": "Lebensmittel",
                                "language": "de"
                            }
                        ],
                        "uri": "http://sesam.mobi/data/concepts#29bcb8"
                    }
                ],
                "sesamCreated": {
                    "value": "2014-07-01T12:48:52",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamLastModified": {
                    "value": "2014-07-01T12:48:52",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamSize": {
                    "value": 1,
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                },
                "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2002/07/owl#Thing"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/ontology#TaggingInfo"
                    }
                ],
                "uri": "http://sesam.mobi/data/content#ti6e267fab-266b-44aa-b14e-dcfc2a8dc92e"
            },
            {
                "sesamAffectsConcept": [
                    {
                        "skosPrefLabel": [
                            {
                                "value": "Omega 3 Fettsäuren",
                                "language": "de"
                            }
                        ],
                        "uri": "http://sesam.mobi/data/concepts#4b6acf"
                    }
                ],
                "sesamCreated": {
                    "value": "2014-07-14T03:35:50",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamLastModified": {
                    "value": "2014-07-14T04:03:22",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamSize": {
                    "value": 11,
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                },
                "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2002/07/owl#Thing"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/ontology#TaggingInfo"
                    }
                ],
                "uri": "http://sesam.mobi/data/content#tie9bdddfc-4280-41d4-ae09-1e73b718fc5f"
            },
            {
                "sesamAffectsConcept": [
                    {
                        "skosPrefLabel": [
                            {
                                "value": "funktionelle Getränke",
                                "language": "de"
                            }
                        ],
                        "uri": "http://sesam.mobi/data/concepts#fa2105"
                    }
                ],
                "sesamCreated": {
                    "value": "2014-07-01T12:48:52",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamLastModified": {
                    "value": "2014-07-01T12:48:52",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamSize": {
                    "value": 1,
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                },
                "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2002/07/owl#Thing"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/ontology#TaggingInfo"
                    }
                ],
                "uri": "http://sesam.mobi/data/content#tia1432f34-b145-4380-b40e-050c8edc327b"
            },
            {
                "sesamAffectsConcept": [
                    {
                        "skosPrefLabel": [
                            {
                                "value": "Demo",
                                "language": "de"
                            }
                        ],
                        "uri": "http://sesam.mobi/data/concepts#2887e6"
                    }
                ],
                "sesamCreated": {
                    "value": "2014-07-15T11:32:55",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamLastModified": {
                    "value": "2014-07-15T11:32:55",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamSize": {
                    "value": 1,
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                },
                "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2002/07/owl#Thing"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/ontology#TaggingInfo"
                    }
                ],
                "uri": "http://sesam.mobi/data/content#ti1fe2533b-5cae-4873-8427-3ee03c940bc2"
            },
            {
                "sesamAffectsConcept": [
                    {
                        "skosPrefLabel": [
                            {
                                "value": "funktionelle Lebensmittel",
                                "language": "de"
                            }
                        ],
                        "uri": "http://sesam.mobi/data/concepts#85e43d"
                    }
                ],
                "sesamCreated": {
                    "value": "2014-06-26T12:02:32",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamLastModified": {
                    "value": "2014-07-04T12:21:28",
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                },
                "sesamSize": {
                    "value": 2,
                    "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                },
                "rdfType": [
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://www.w3.org/2002/07/owl#Thing"
                    },
                    {
                        "@class": "http.www.w3.org200001.rdf_schema.Class",
                        "uri": "http://sesam.mobi/ontology#TaggingInfo"
                    }
                ],
                "uri": "http://sesam.mobi/data/content#tia9d93e56-cdb9-408c-934e-76eb5729ee18"
            }
        ]}
 
## Retrieve last global used bookmark tags [/bookmarks/tag/lastused]
### Retrieve the global last used bookmarks[GET]

The results will contained those tags that were given at last by any user, independend from the current bookmark and refered content. 

+ Response 200 (application/json)
        [TaggingInformation][]

## Retrieve all tags of the refered content-node [/bookmarks/tag/existing/{uri}]

### Retrieve all tags of the refered content-node [GET]
The Result will contain all those tags that have been connected to the content-node (refered by the bookmark).
+ Parameter
    + uri (required, URI, `http%3A%2F%2Fsesam.mobi%2Fdata%2Fbookmarks%230cc67c07-d5d0-4950-acde-0a0f2e7aa10b`) ... uri of the bookmark 

+ Response 200 (application/json)
        [TaggingInformation][]

+ Response 404 (text/plain) 
    + Body

            no such bookmark {uri}
            or no such content http://www.kaputte-url.com



## Retrieve recommended tags of a bookmark [/bookmarks/tag/recommended/{uri}]
### Retrieve recommended tags of a bookmark[GET]
Starting with the existing tagging informations from the bookmark itself and the tagging informations of the content-node (refered by the bookmark) this method will return an example set of recommended tags that can be used to annotate the bookmark further. 
+ Parameter
  + uri (required, URL, `http%3A%2F%2Fsesam.mobi%2Fdata%2Fbookmarks%230cc67c07-d5d0-4950-acde-0a0f2e7aa10b`) ... encoded URI of ContentResource


+ Response 200 (application/json)
        [TaggingInformation][]

+ Response 404 (text/plain) 
    + Body
    
            no such bookmark {uri}
            or no such content http://www.kaputte-url.com

# Group SESAM-Search
## Using the Free-Text Search [/search?text={text}&offset={offset}&limit={limit}]
### Retrieve Concepts by its name [GET]
+ Parameter
    + text (required, string, `text=Nahr`) ... textual input 
    + offset = `0` (optional, int, `5`) ... ignore the first n results
    + limit = `10` (optional, int, `10`) ... get the next n results
    
+ response 200 (application/json)
    + Body
    
            {
               "concepts":
               [
                   {
                       "skosBroader":
                       [
                           {
                               "@class": "http.www.w3.org200402.skos.core.Concept",
                               "skosAltLabel":
                               [
                                   {
                                       "value": "Nahrungsmittel",
                                       "language": "de"
                                   },
                                   {
                                       "value": "Essen",
                                       "language": "de"
                                   }
                               ],
                               "skosPrefLabel":
                               [
                                   {
                                       "value": "Lebensmittel",
                                       "language": "de"
                                   }
                               ],
                               "uri": "http://sesam.mobi/data/concepts#84e837"
                           }
                       ],
                       "skosPrefLabel":
                       [
                           {
                               "value": "funktionelle Lebensmittel",
                               "language": "de"
                           }
                       ],
                       "uri": "http://sesam.mobi/data/concepts#85e43d"
                   },
                   {
                       "skosBroader":
                       [
                           {
                               "@class": "http.www.w3.org200402.skos.core.Concept",
                               "skosBroader":
                               [
                                   {
                                       "@class": "http.www.w3.org200402.skos.core.Concept",
                                       "skosAltLabel":
                                       [
                                           {
                                               "value": "Nahrungsmittel",
                                               "language": "de"
                                           },
                                           {
                                               "value": "Essen",
                                               "language": "de"
                                           }
                                       ],
                                       "skosPrefLabel":
                                       [
                                           {
                                               "value": "Lebensmittel",
                                               "language": "de"
                                           }
                                       ],
                                       "uri": "http://sesam.mobi/data/concepts#84e837"
                                   }
                               ],
                               "skosPrefLabel":
                               [
                                   {
                                       "value": "funktionelle Lebensmittel",
                                       "language": "de"
                                   }
                               ],
                               "uri": "http://sesam.mobi/data/concepts#85e43d"
                           }
                       ],
                       "skosPrefLabel":
                       [
                           {
                               "value": "funktionelle Getränke",
                               "language": "de"
                           }
                       ],
                       "uri": "http://sesam.mobi/data/concepts#fa2105"
                   }
               ]
            }

# Group LearngingPath
## Preview [/learningpath/preview/{uri}]
### Get an overview over the path [GET]

+ Parameter 
  + uri (required, URI, `http%3A%2F%2Fsesam.mobi%2Fdata%2Flearn%23path1cc90cf3-ee78-47f3-9716-5e87455144a2`) ... uri of an existing, valid and non-empty path. For ensuring those properties check for "learnIsPublished". 
Returns a list of elements and a list of connections occuring in this path. The element numbers "learnHasIndex" do only occur in a published path...


+ Response 200 (application/json)
    + Body

            {
               "learningElements":
               [{
                   "learnHasDescription":
                   {
                       "uri": "http://sesam.mobi/data/learn#desc3791d198-844f-462d-9f91-55c006d0c222"
                   },
                   "learnHasIndex":
                   {
                       "value": 16,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                   },
                   "learnIncomingTransition":
                   [
                       {
                           "@class": "http.sesam.mobi.learn.SimpleTransition",
                           "uri": "http://sesam.mobi/data/learn#conncccc1062-6301-4893-889b-8a8a97ccf89a"
                       }
                   ],
                   "sesamAffectsConcept":
                   [
                       {
                           "uri": "http://sesam.mobi/data/concepts#85e43d"
                       }
                   ],
                   "sesamCreated":
                   {
                       "value": "2014-07-01T02:31:44",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamHasTitle":
                   {
                       "value": "Ende des Lernpfads",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                   },
                   "sesamLastModified":
                   {
                       "value": "2014-07-04T01:54:56",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamMobile":
                   {
                       "value": true,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "sesamMobileOnly":
                   {
                       "value": false,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "rdfType":
                   [
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://sesam.mobi/learn#Extroduction"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2002/07/owl#Thing"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://sesam.mobi/learn#LearningElement"
                       }
                   ],
                   "uri": "http://sesam.mobi/data/learn#extrof5e9cc25-13ce-417b-b37b-c7286430af19"
               },
               {
                   "learnHasDescription":
                   {
                       "uri": "http://sesam.mobi/data/learn#desc9a0143b7-956c-48ff-bbe3-68b877fb4add"
                   },
                   "learnHasIndex":
                   {
                       "value": 13,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                   },
                   "learnIncomingTransition":
                   [
                       {
                           "@class": "http.sesam.mobi.learn.SimpleTransition",
                           "uri": "http://sesam.mobi/data/learn#connd92e1a63-9238-41b2-b58d-41e30d5e30c4"
                       }
                   ],
                   "learnOutgoingTransition":
                   {
                       "@class": "http.sesam.mobi.learn.SimpleTransition",
                       "uri": "http://sesam.mobi/data/learn#conn1711f339-73cd-4d91-a762-c9d0d9ce99c0"
                   },
                   "contentRefersToContent":
                   [
                       {
                           "@class": "http.sesam.mobi.content.Website",
                           "uri": "http://bloochat.com/g9kx9"
                       }
                   ],
                   "sesamAffectsConcept":
                   [
                       {
                           "uri": "http://sesam.mobi/data/concepts#85e43d"
                       }
                   ],
                   "sesamCreated":
                   {
                       "value": "2014-07-01T01:08:05",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamHasTitle":
                   {
                       "value": "Diskussion: Chat (1)",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                   },
                   "sesamLastModified":
                   {
                       "value": "2014-07-04T01:45:20",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamMobile":
                   {
                       "value": true,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "sesamMobileOnly":
                   {
                       "value": false,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "rdfType":
                   [
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2002/07/owl#Thing"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://sesam.mobi/learn#LearningElement"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                       }
                   ],
                   "uri": "http://sesam.mobi/data/learn#elemcee12748-04c8-436d-87f7-69d1de9ee7d2"
               },
               {
                   "learnHasDescription":
                   {
                       "uri": "http://sesam.mobi/data/learn#descf072287b-bbfc-44a7-86fc-3069e63fbdee"
                   },
                   "learnHasIndex":
                   {
                       "value": 3,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                   },
                   "learnIncomingTransition":
                   [
                       {
                           "@class": "http.sesam.mobi.learn.SimpleTransition",
                           "uri": "http://sesam.mobi/data/learn#connbfad6536-4f93-4f6e-b7bc-7213774f67d7"
                       }
                   ],
                   "learnOutgoingTransition":
                   {
                       "@class": "http.sesam.mobi.learn.SimpleTransition",
                       "uri": "http://sesam.mobi/data/learn#conn24700f29-db12-4bff-b2ff-e4fd8b4bbc71"
                   },
                   "contentRefersToContent":
                   [
                       {
                           "@class": "http.sesam.mobi.content.Website",
                           "uri": "https://food.de/sellingpoint/zipcode/"
                       }
                   ],
                   "sesamAffectsConcept":
                   [
                       {
                           "uri": "http://sesam.mobi/data/concepts#85e43d"
                       }
                   ],
                   "sesamCreated":
                   {
                       "value": "2014-07-04T12:08:57",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamHasTitle":
                   {
                       "value": "Online-Supermarkt (1)",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                   },
                   "sesamLastModified":
                   {
                       "value": "2014-07-08T03:48:33",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamMobile":
                   {
                       "value": true,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "sesamMobileOnly":
                   {
                       "value": false,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "rdfType":
                   [
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2002/07/owl#Thing"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://sesam.mobi/learn#LearningElement"
                       }
                   ],
                   "uri": "http://sesam.mobi/data/learn#elem1582e470-7a0d-41cf-95eb-54c2d19c19a0"
               },
               {
                   "learnHasDescription":
                   {
                       "uri": "http://sesam.mobi/data/learn#descc666f516-d049-434f-8939-651f97a542d2"
                   },
                   "learnHasIndex":
                   {
                       "value": 7,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                   },
                   "learnIncomingTransition":
                   [
                       {
                           "@class": "http.sesam.mobi.learn.SimpleTransition",
                           "uri": "http://sesam.mobi/data/learn#conn72c03128-ae7e-4dac-95be-3c5b6a21d4d4"
                       }
                   ],
                   "learnOutgoingTransition":
                   {
                       "@class": "http.sesam.mobi.learn.SimpleTransition",
                       "uri": "http://sesam.mobi/data/learn#connb8499fa0-f4a8-4e99-8d0d-1fabe8e01df8"
                   },
                   "contentRefersToContent":
                   [
                       {
                           "@class": "http.sesam.mobi.content.Website",
                           "uri": "https://food.de/checkout/cart/?___SID=U"
                       }
                   ],
                   "sesamAffectsConcept":
                   [
                       {
                           "uri": "http://sesam.mobi/data/concepts#85e43d"
                       }
                   ],
                   "sesamCreated":
                   {
                       "value": "2014-07-01T12:24:57",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamHasTitle":
                   {
                       "value": "Online-Supermarkt (5)",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                   },
                   "sesamLastModified":
                   {
                       "value": "2014-07-04T01:37:12",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamMobile":
                   {
                       "value": true,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "sesamMobileOnly":
                   {
                       "value": false,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "rdfType":
                   [
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2002/07/owl#Thing"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://sesam.mobi/learn#LearningElement"
                       }
                   ],
                   "uri": "http://sesam.mobi/data/learn#elemcefe60d5-4a1c-4a7c-951a-ada3ed615443"
               },
               {
                   "learnHasDescription":
                   {
                       "uri": "http://sesam.mobi/data/learn#desc4e9006ce-7888-4799-a663-50607b425244"
                   },
                   "learnHasIndex":
                   {
                       "value": 8,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                   },
                   "learnIncomingTransition":
                   [
                       {
                           "@class": "http.sesam.mobi.learn.SimpleTransition",
                           "uri": "http://sesam.mobi/data/learn#connb8499fa0-f4a8-4e99-8d0d-1fabe8e01df8"
                       }
                   ],
                   "learnOutgoingTransition":
                   {
                       "@class": "http.sesam.mobi.learn.SimpleTransition",
                       "uri": "http://sesam.mobi/data/learn#conn37740b9f-e8bf-43fb-a342-17d00b6f0dc9"
                   },
                   "contentRefersToContent":
                   [
                       {
                           "@class": "http.sesam.mobi.content.Website",
                           "uri": "https://food.de/checkout/cart/?___SID=U"
                       }
                   ],
                   "sesamAffectsConcept":
                   [
                       {
                           "uri": "http://sesam.mobi/data/concepts#85e43d"
                       }
                   ],
                   "sesamCreated":
                   {
                       "value": "2014-07-01T12:38:41",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamHasTitle":
                   {
                       "value": "Online-Supermarkt (6)",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                   },
                   "sesamLastModified":
                   {
                       "value": "2014-07-04T01:38:03",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamMobile":
                   {
                       "value": true,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "sesamMobileOnly":
                   {
                       "value": false,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "rdfType":
                   [
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2002/07/owl#Thing"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://sesam.mobi/learn#LearningElement"
                       }
                   ],
                   "uri": "http://sesam.mobi/data/learn#elem159d45ba-67a6-4279-a822-2cc6cfebdfe8"
               },
               {
                   "learnHasDescription":
                   {
                       "uri": "http://sesam.mobi/data/learn#desc4fbc88a0-be1a-4db9-a819-b5e5c7da4f14"
                   },
                   "learnHasIndex":
                   {
                       "value": 11,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                   },
                   "learnIncomingTransition":
                   [
                       {
                           "@class": "http.sesam.mobi.learn.SimpleTransition",
                           "uri": "http://sesam.mobi/data/learn#conne775da96-6a1b-4056-a370-80847d4b272c"
                       }
                   ],
                   "learnOutgoingTransition":
                   {
                       "@class": "http.sesam.mobi.learn.SimpleTransition",
                       "uri": "http://sesam.mobi/data/learn#conn30896603-1494-471a-99fa-67d9c21646ec"
                   },
                   "contentRefersToContent":
                   [
                       {
                           "@class": "http.sesam.mobi.content.Website",
                           "uri": "http://141.76.63.51/wordpress/?p=24"
                       }
                   ],
                   "sesamAffectsConcept":
                   [
                       {
                           "uri": "http://sesam.mobi/data/concepts#85e43d"
                       }
                   ],
                   "sesamCreated":
                   {
                       "value": "2014-07-01T12:47:51",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamHasTitle":
                   {
                       "value": "Funktionelle Lebensmittel: Wie gesund ist Multivitaminsaft?",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                   },
                   "sesamLastModified":
                   {
                       "value": "2014-07-04T01:41:49",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamMobile":
                   {
                       "value": true,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "sesamMobileOnly":
                   {
                       "value": false,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "rdfType":
                   [
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://sesam.mobi/learn#LearningElement"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2002/07/owl#Thing"
                       }
                   ],
                   "uri": "http://sesam.mobi/data/learn#elem40e9c885-271b-4880-930d-d672d6b6d21b"
               },
               {
                   "learnHasDescription":
                   {
                       "uri": "http://sesam.mobi/data/learn#desc2ad5d8a6-53d1-44d9-8150-75e59b3aace5"
                   },
                   "learnHasIndex":
                   {
                       "value": 5,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                   },
                   "learnIncomingTransition":
                   [
                       {
                           "@class": "http.sesam.mobi.learn.SimpleTransition",
                           "uri": "http://sesam.mobi/data/learn#conn254a6c51-afa0-43fe-bcfa-68e9e9a5a36d"
                       }
                   ],
                   "learnOutgoingTransition":
                   {
                       "@class": "http.sesam.mobi.learn.SimpleTransition",
                       "uri": "http://sesam.mobi/data/learn#conneeabb215-37d7-4579-85c4-38e0553d00e0"
                   },
                   "contentRefersToContent":
                   [
                       {
                           "@class": "http.sesam.mobi.content.Website",
                           "uri": "https://food.de/lebensmittel.html/?id=3"
                       }
                   ],
                   "sesamAffectsConcept":
                   [
                       {
                           "uri": "http://sesam.mobi/data/concepts#85e43d"
                       }
                   ],
                   "sesamCreated":
                   {
                       "value": "2014-07-01T12:08:08",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamHasTitle":
                   {
                       "value": "Online-Supermarkt (3)",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                   },
                   "sesamLastModified":
                   {
                       "value": "2014-07-08T03:51:28",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamMobile":
                   {
                       "value": true,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "sesamMobileOnly":
                   {
                       "value": false,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "rdfType":
                   [
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://sesam.mobi/learn#LearningElement"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2002/07/owl#Thing"
                       }
                   ],
                   "uri": "http://sesam.mobi/data/learn#elembafc266d-e866-4621-8b13-fe25e00e2cc7"
               },
               {
                   "learnHasDescription":
                   {
                       "uri": "http://sesam.mobi/data/learn#desc10277e49-7a05-4ad1-9392-3881a3e3f4f8"
                   },
                   "learnHasIndex":
                   {
                       "value": 4,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                   },
                   "learnIncomingTransition":
                   [
                       {
                           "@class": "http.sesam.mobi.learn.SimpleTransition",
                           "uri": "http://sesam.mobi/data/learn#conn24700f29-db12-4bff-b2ff-e4fd8b4bbc71"
                       }
                   ],
                   "learnOutgoingTransition":
                   {
                       "@class": "http.sesam.mobi.learn.SimpleTransition",
                       "uri": "http://sesam.mobi/data/learn#conn254a6c51-afa0-43fe-bcfa-68e9e9a5a36d"
                   },
                   "contentRefersToContent":
                   [
                       {
                           "@class": "http.sesam.mobi.content.Website",
                           "uri": "https://food.de/lebensmittel.html/?id=3"
                       }
                   ],
                   "sesamAffectsConcept":
                   [
                       {
                           "uri": "http://sesam.mobi/data/concepts#85e43d"
                       }
                   ],
                   "sesamCreated":
                   {
                       "value": "2014-06-26T12:09:02",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamHasTitle":
                   {
                       "value": "Online-Supermarkt (2)",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                   },
                   "sesamLastModified":
                   {
                       "value": "2014-07-04T12:23:09",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamMobile":
                   {
                       "value": true,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "sesamMobileOnly":
                   {
                       "value": false,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "rdfType":
                   [
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://sesam.mobi/learn#LearningElement"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2002/07/owl#Thing"
                       }
                   ],
                   "uri": "http://sesam.mobi/data/learn#elemefbd4ce0-8832-44a0-b9fb-e12890df22c7"
               },
               {
                   "learnHasDescription":
                   {
                       "uri": "http://sesam.mobi/data/learn#desc3afcdbb8-3dd6-4634-a8aa-03efac0a6550"
                   },
                   "learnHasIndex":
                   {
                       "value": 12,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                   },
                   "learnIncomingTransition":
                   [
                       {
                           "@class": "http.sesam.mobi.learn.SimpleTransition",
                           "uri": "http://sesam.mobi/data/learn#conn30896603-1494-471a-99fa-67d9c21646ec"
                       }
                   ],
                   "learnOutgoingTransition":
                   {
                       "@class": "http.sesam.mobi.learn.SimpleTransition",
                       "uri": "http://sesam.mobi/data/learn#connd92e1a63-9238-41b2-b58d-41e30d5e30c4"
                   },
                   "contentRefersToContent":
                   [
                       {
                           "@class": "http.sesam.mobi.content.Image",
                           "uri": "http://simple.wikipedia.org/wiki/Froot_Loops#mediaviewer/File:Froot_loops_in_a_bowl.jpg"
                       }
                   ],
                   "sesamAffectsConcept":
                   [
                       {
                           "uri": "http://sesam.mobi/data/concepts#85e43d"
                       }
                   ],
                   "sesamCreated":
                   {
                       "value": "2014-07-01T01:05:18",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamHasTitle":
                   {
                       "value": "Diskussion",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                   },
                   "sesamLastModified":
                   {
                       "value": "2014-07-07T03:04:20",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamMobile":
                   {
                       "value": true,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "sesamMobileOnly":
                   {
                       "value": false,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "rdfType":
                   [
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2002/07/owl#Thing"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://sesam.mobi/learn#LearningElement"
                       }
                   ],
                   "uri": "http://sesam.mobi/data/learn#eleme5b37133-f887-4272-87f1-6210ea470a11"
               },
               {
                   "learnHasDescription":
                   {
                       "uri": "http://sesam.mobi/data/learn#desc1a995d20-f102-403d-917d-1b3a49dec56e"
                   },
                   "learnHasIndex":
                   {
                       "value": 2,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                   },
                   "learnIncomingTransition":
                   [
                       {
                           "@class": "http.sesam.mobi.learn.SimpleTransition",
                           "uri": "http://sesam.mobi/data/learn#conn392c3112-f9c8-48a2-9eaa-f2567bd4c72c"
                       }
                   ],
                   "learnOutgoingTransition":
                   {
                       "@class": "http.sesam.mobi.learn.SimpleTransition",
                       "uri": "http://sesam.mobi/data/learn#connbfad6536-4f93-4f6e-b7bc-7213774f67d7"
                   },
                   "contentRefersToContent":
                   [
                       {
                           "@class": "http.sesam.mobi.content.Image",
                           "uri": "http://simple.wikipedia.org/wiki/Froot_Loops#mediaviewer/File:Froot_loops_in_a_bowl.jpg"
                       }
                   ],
                   "sesamAffectsConcept":
                   [
                       {
                           "uri": "http://sesam.mobi/data/concepts#85e43d"
                       }
                   ],
                   "sesamCreated":
                   {
                       "value": "2014-07-04T12:12:37",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamHasTitle":
                   {
                       "value": "Beschreibung des Lernpfads",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#string"
                   },
                   "sesamLastModified":
                   {
                       "value": "2014-07-04T02:44:49",
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#dateTime"
                   },
                   "sesamMobile":
                   {
                       "value": true,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "sesamMobileOnly":
                   {
                       "value": false,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#boolean"
                   },
                   "rdfType":
                   [
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://sesam.mobi/learn#LearningElement"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2002/07/owl#Thing"
                       },
                       {
                           "@class": "http.www.w3.org200001.rdf_schema.Class",
                           "uri": "http://www.w3.org/2000/01/rdf-schema#Resource"
                       }
                   ],
                   "uri": "http://sesam.mobi/data/learn#elem5245161a-379a-420a-b880-43e21ef036e1"
               },
               {
                   "learnHasDescription":
                   {
                       "uri": "http://sesam.mobi/data/learn#desccf43cd90-44bc-4668-9f15-69f3b62232b4"
                   },
                   "learnHasIndex":
                   {
                       "value": 10,
                       "dataTypeURI": "http://www.w3.org/2001/XMLSchema#integer"
                   },
                   "learnIncomingTransition":
                   [
                       {
                           "@class": "http.sesam.mobi.learn.SimpleTransition",
                           "uri": "http://sesam.mobi/data/learn#conn30043e22-bdd6-45d0-9139-61939b0ab57d"
                       }
                   ],
                   "learnOutgoingTransition":
                   {
                       "@class": "http.sesam.mobi.learn.SimpleTransition",
                       "uri": "http://sesam.mobi/data/learn#conne775da96-6a1b-4056-a370-80847d4b272c"
                   },
[...]
